<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.rb.etp.Dao.Iemp">

<select id="getEmpList" resultType="EmpDto" >
		SELECT * FROM EMP WHERE E_ID='heo'
	</select>


<insert id="insertemp"  parameterType="com.rb.etp.bean.EmpDto">
		INSERT INTO EMP VALUES(${e_m_id},${e_code},{e_name},${e_idnum},SYSDATE,${e_email},${e_phone},${e_bankname},${e_banknum},${e_address},${e_bigo},${e_basicpay},${e_state},${dept_name},${rank_name})
	</insert>

<select id="empInfo" resultType="EmpDto" parameterType="String">
		SELECT * FROM EMP WHERE E_ID='heo' AND E_NAME=#{e_code}
	</select>
	
	<select id="empajnamesearch" resultType="EmpDto" parameterType="String">
		SELECT * FROM EMP WHERE E_ID='heo' AND E_NAME LIKE '%'||#{name}||'%'
	</select>
<select id="empajcodesearch" resultType="EmpDto" parameterType="String">
		SELECT * FROM EMP WHERE E_ID='heo' AND E_CODE LIKE '%'||#{code}||'%' 
	</select>

</mapper>